*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif, Nunito;
    
}
body{
  box-sizing: border-box;
  display:block;
} 
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #2E948A ;
    display: block;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.link3{
  text-decoration: none;
  margin-bottom: 14px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.link3 img{
box-sizing: border-box;
}

#span-inicio{
  font-size: 56px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 64px;
  position: relative;
  width: auto;
  }

.pad-home{
  margin-left: 90px;

  }

.list-menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-left: -60%;
}

.list-item{
  box-sizing: border-box;
  display: list-item;
  text-align: center;
}

.menu-link{
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}

//Main//

// SESSÃO 1 - Investimentos /

.section1 {
  padding: 120px 120px 120px 120px;
}
.courses {
  padding: 120px 120px 120px 120px;
}
.courses h1 {
  font-family: 'Ubuntu';
  font-size: 60px;
  font-weight: 700;
  color: #FF4081;
}
.courses span {
 font-family: 'Ubuntu';
 font-size: 20px;
 font-weight: 400;
 color: #555555;
}
container {
  display: flex;
  justify-content:center;
  flex-direction: row;
  margin-block-end: 5%;
}
.text-courses  {
  display: grid;
  align-itens: center;
  flex-direction: row;
}
.text-courses h2 {
  font-family: 'Ubuntu';
  font-size: 35px;
  font-weight: 700;
  color: #FF4081;
}
container img {
  margin: 50px  ;
}

container p{
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-courses  button {
width: 233px;
height: 51px;
left: 545px;
top: 641px;
color: white;
background: #419488;
border-radius: 62px;
display: flex;
flex-direction: row;
 align-items: center;
}

.text-courses button  span a {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  align-itens: center;
}

.hr {
  margin: auto;
  display:flex;
  align-items:center;
  width: 1244px;
  height: 5px;
  left: 82px;
  top: 834px;
  background: #C4C4C4;
}

.section2 {
  padding: 120px 120px 120px 120px;
}

.section3 {
  padding: 120px 120px 120px 120px;
}


/*footer*/

.f-div{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #2E948A;
}
.footer{
  background-color: #2E948A;
  display: flex;
  width: 400px;
  height: 250px;
}

#footer-img{
  padding-left: 150px;
  margin-top: 60px;
  
}

#texto-inicio{
  font-size: 56px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 64px;
  position: relative;
  width: auto;

}
#span-footer{
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 300;
  line-height: 22px;

}

.list-menu-footer{

  padding-left: 25%;
  list-style: none;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin: auto;
}   

.list-item-footer{
  box-sizing: content-box;
  display: list-item;
  text-align: justify;
  position: relative;
  margin-bottom: 14px;
}
.button-f{

border: 2px solid #FFFFFF;
border-radius: 62px;
cursor: pointer;
margin-top: 30px;
margin-left: 500px; 
width: 289px;
top: 50px;
padding-left: 14px;
margin-left: 100px0,0;
background-color: #2E948A;
padding: 10px;

}
.button-f a {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

